{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-6 shadow rounded">

    <h2 class="text-xl font-bold mb-4">Create Account</h2>

    <form id="registerForm" class="space-y-3">
        <input type="text" id="username" placeholder="Username" class="w-full p-2 mb-3 border rounded">
        <input type="email" id="email" placeholder="Email" class="w-full p-2 mb-3 border rounded">
        <input type="password" id="password" placeholder="Password" class="w-full p-2 mb-3 border rounded">

        <button type="submit" class="bg-green-600 w-full text-white p-2 rounded">Register</button>
    </form>
</div>

<script src="{% static 'js/register.js'%}"></script>

{% endblock content %}
    