{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}

<h2 class="text-xl font-bold mb-4">Tasks</h2>

<form id="taskForm" class="bg-whitw p-4 shadow rounded mb-4">

    <input id="taskTitle" class="w-full p-2 border rounded mb-2" placeholder="Task Title">

    <textarea id="taskDescription" class="w-full p-2 border rounded mb-2" placeholder="Description"></textarea>

    <input id="taskCategory" class="w-full p-2 border rounded mb-2" placeholder="Category ID">

    <button type="submit" onclick="createTask()" class="bg-blue-600 text-white p-2 rounded w-full">
        Add Task
    </button>
</form>

<div id="taskList"></div>

<script src="{% static 'js/tasks.js' %}"></script>

{% endblock content %}